

<!-- <div class="container">
    
<form (ngSubmit)="register()" role="form">
    <legend>Form title</legend>

    <div class="form-group">
        <label for="">Name</label>
        <input [(ngModel)]="name" name="name" type="text" class="form-control" id="" placeholder="Input field">
    </div>

    <div class="form-group">
        <label for="">username</label>
        <input [(ngModel)]="username" name="username" type="text" class="form-control" id="" placeholder="Input field">
    </div>

    <div class="form-group">
        <label for="">Email</label>
        <input [(ngModel)]="email" name="email" type="text" class="form-control" id="" placeholder="Input field">
    </div>

    <div class="form-group">
        <label for="">Password</label>
        <input [(ngModel)]="password" name="password" type="text" class="form-control" id="" placeholder="Input field">
    </div>

    

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

</div> -->

<section class="hero is-dark is-bold is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-5-tablet is-6-desktop is-6-widescreen">
            <form action="" class="box">
              <div class="field">
                <label for="name" class="label">Name</label>
                <div class="control has-icons-left">
                  <input [(ngModel)]="name" name="name" id="name" type="name" placeholder="Enter Name" class="input" required>
                  <span class="icon is-small is-left">
                    <i class="fa fa-envelope"></i>
                  </span>
                </div>
              </div>

              <div class="field">
                <label for="username" class="label">Username</label>
                <div class="control has-icons-left">
                  <input [(ngModel)]="username" id="username" name="username" type="text" placeholder="*******" class="input" required>
                  <span class="icon is-small is-left">
                    <i class="fa fa-lock"></i>
                  </span>
                </div>
              </div>

              <div class="field">
                <label for="email" class="label">Email</label>
                <div class="control has-icons-left">
                  <input [(ngModel)]="email" id="email" name="email" type="email" placeholder="enter email" class="input" required>
                  <span class="icon is-small is-left">
                    <i class="fa fa-lock"></i>
                  </span>
                </div>
              </div>

              <div class="field">
                <label for="bio" class="label">Bio</label>
                <div class="control has-icons-left">
                  
                  <textarea rows="1" [(ngModel)]="bio" id="bio" name="bio" type="bio" class="textarea" placeholder="enter bio"></textarea>
                  <!-- <span class="icon is-small is-left">
                    <i class="fa "></i>
                  </span> -->
                </div>
              </div>

              <div class="field">
                <label for="pwd" class="label">Password</label>
                <div class="control has-icons-left">
                  <input [(ngModel)]="password" id="pwd" name="password" type="password" placeholder="*******" class="input" required>
                  <span class="icon is-small is-left">
                    <i class="fa fa-lock"></i>
                  </span>
                </div>
              </div>

              <div class="field">
                <button (click)="register()" class="button is-dark">
                  Sign Up
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</section>