<section class="section"> 
    <div class="container">
        <div class="media center">
            <div class="box">
                <div class="media-content">
                    <div class="content">
                        <h1 class="title is-size-2">
                            About Us
                        </h1>
                        <p>
                            <span>Globe Connect is made with the vision to provide a common platform for people to share their experiences, knowledge, discuss ideas and unite as a comunity</span> <br>
                            <br>
                            <!-- <span> I developed this site as my CDAC project.
                            What started as just an academic  project soon became my passion as my skills and vision developed.
                            I learned many useful things as I overcame every obstacle and tried to make it as relevent as possible.
                            I would like to thank everyone for their support, guidence and feedback.</span> <br><br>
                            <span>~Siddhesh and Aditya</span>   -->

                            <span> I developed this site as my CDAC project.
                                What started as just an academic  project soon became my passion as my skills and vision developed.
                                I learned many useful things as I overcame every obstacle and tried to make it as relevent as possible.
                                I would like to thank everyone for their support, guidence and feedback.</span> <br><br>
                                <span>~<strong>Siddhesh</strong></span> 
                        </p><br>

                        <a href="https://www.linkedin.com/in/siddhesh-mate-387355b1">
                            <figure class="image is-128x128">
                            <img class="is-rounded" src="assets/siddhesh.png">
                            </figure>
                        </a>
                        <!-- <a href="https://www.linkedin.com/in/aditya-dhopade-4a32231b">
                            <figure class="image is-128x128">
                            <img class="is-rounded" src="assets/DSC_0017.JPG">
                            </figure>
                        </a>     -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>