<!-- <app-nav-bar></app-nav-bar> -->

<section>
    <nav class="level">
            <div class="container is-vcentered has-image-">
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    
                    
             </div> 
    <div class="container">
        <h1 class="title">   
       
             Privacy Policy
        </h1> 

    </div>
   </nav> 
</section>

<br>
<section>
    <div class="container">
      <p color-is-red>
            Globe Connect recognizes that your privacy is very important, and we take it seriously. 
            This Privacy Policy (“Privacy Policy”) describes our policies and procedures on the collection, use, disclosure, and sharing of your personal information when you use the Globe Connect Platform. 
            This Privacy Policy applies to activities by Globe Connect, Inc. and its affiliates and subsidiaries (collectively “Globe Connect,” “we” or “us”). 
            Capitalized terms that are not defined in this Privacy Policy have the meaning given to them in our Terms of Service. 
            The Information We Collect We collect information directly from individuals, from third parties, and automatically through the Globe Connect Platform.
            
            

      </p>  
      <br>
      <br>
      <p>
            <strong>Account and Profile Information:</strong> When you create an account and profile on the Globe Connect Platform, we collect your name, contact information (including your telephone number), demographic information, and other information you provide, such as topics that you know about or find interesting.
            Your name, photo, and any other information that you choose to add to your public-facing profile will be available for viewing by the public and other users of the Globe Connect Platform. Once you create a profile, others will be able to see in your profile certain information about your activity on the GlobeConnect Platform, such as the questions and answers you post,
            topics of interest to you, the information you list as credentials, and your edits to your content.
            For more information about your choices for publicly displayed information,
            see the section below about Your Choices.
      </p>
      
      <br>
      <br>
        
                <strong>How We Use Your Information</strong> We do not sell your personal information – such as your name and contact information – to third parties to use for their own marketing purposes. 
                GlobeConnect uses the information we collect for the following purposes:
                
                    <ul>
                    <li>Provide our Services. To provide you the services we offer on the Globe Connect Platform and make the Globe Connect
                        Platform available to the public, communicate with you about your use of the GlobeConnect Platform, 
                        respond to your inquiries, provide troubleshooting, and for other customer service purposes. </li>  
                    <li>Prevent Misuse. Where we believe necessary to investigate, prevent or take action regarding illegal activities, 
                        suspected fraud, situations involving potential threats to the safety of any person or violations of our Terms of Service 
                        or this Privacy Policy</li>   
                    </ul> 

                
        


    </div> 
</section>

