<!-- <app-nav-bar></app-nav-bar> -->

<!--Modal open-->
<div id="mod" class="modal hidden">
    <div class="modal-background"></div>
    <div class="modal-content">
        
            
            <app-add-profile-pic></app-add-profile-pic>
            
        
      
    </div>
    <button (click)="removeModal()" class="modal-close is-large" aria-label="close"></button>
</div>
<!--Modal close-->

<br>
<div class="columns">
    <div class="column is-half is-offset-3">
        <!--USER DETAILS-->
        <section class="hero is-dark">
            <div class="hero-body">
                
                    <nav class="level">
                        <a (click)='toggleModal()'>
                            <div class="container is-vcentered has-image-">
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                    <figure class="image is-128x128 ">
                                            
                                            <img class="is-rounded" src="https://globe-connect.herokuapp.com/{{user.profilePic}}">
                                    </figure>
                                    
                            </div>
                        </a> 
                        
                        <div class="container has-text-left column is-6 is-offset-3"> 
                        
                                <h1 class="title has-text-left">
                                        {{user.name}} 
                                </h1><br>
                                <h2 class="subtitle has-text-left">
                                        {{user.bio}}
                                </h2>
                            
                        </div> 
                        <!-- <div class="container has-text-justified"> 
                            
                                <div class="tags are-medium has-addons">
                                        <span class="tag">Followers</span>
                                        <span class="tag is-primary">4k people</span>
                                </div>
                                                
                        </div> -->


                    </nav>
                
            </div> 
        </section>
        <hr>
    </div>
</div>
<div class="columns">

    <!-- <div (click)="toggleBurger()" class="navbar-burger burger" id="burger" data-target="sidePanel">
          
        <span></span>
        <span></span>
        <span></span>
      
    </div> -->

    <!--SIDE PANEL-->
    <div id="sidePanel" class="column is-1"></div>
    <div class="column is-2 is-left">
        <aside class="menu">
            <p class="menu-label">
              Activity
            </p>
            <ul class="menu-list">
              <li><a>Posts: {{user.posts.length}}</a></li>
              <li><a>Comments: {{user.comments.length}}</a></li>
            </ul>
            <p class="menu-label">
              Interests
            </p>
            <ul *ngFor="let f of user.forums" class="menu-list">
                <li><a>{{f.name}}</a></li>
                
            </ul>
            <p class="menu-label">
              -------------------------
            </p>
            
            <ul class="menu-list">
              <li><a>Account Settings</a></li>
              <li><a>About Us</a></li>
              <li><a>Privacy Policy</a></li>
            </ul>
          </aside>
    </div>


    <div class="column is-half">
        <!--USER POSTS-->
        <section>
            <div *ngFor="let p of user.posts;let i = index">
                <br><br>
                <a routerLink="/d/{{p._id}}" >
                    <div class="box">
                        <div class="media-content">
                            
                                <div class="content">
                                    <div class="columns">
                                        <div class="column is-2">
                                            <figure class="media-left">
                                                <p class="image is-32x32">
                                                    <img class="is-rounded" src="https://globe-connect.herokuapp.com/{{user.profilePic}}">
                                                </p>
                                            </figure>
                                        </div>
                                        
                                            
                                        <div class="column is-6"><strong>{{user.username}}</strong></div> <div class="column is-12"><small>{{p.creation_date | date:'short'}}</small></div>
                                        <br>
                                    </div>
                                    <div>
                                        <p class="title">{{p.title}}</p>
                                    </div>
                                    <div class="column is-11"><p>{{p.content}}
                                    </p></div>
                                </div>
                                <nav class="level is-mobile">
                                    <div class="level-left">
            
                                        <a class="level-item">
                                        <span class="icon is-small"><i></i></span>
                                        </a>
                                        <a class="level-item">
                                            <span class="icon is-small"><i class="fas fa-comment"></i> </span>
                                        </a>
                                    </div>
                                </nav>
                        </div> 
                    </div>
                </a>
            </div>
        </section>
    </div>
</div>
