<!-- <div><app-nav-bar></app-nav-bar></div> -->
<hr>

<div class="section">
  <div class="container">
    <div class="columns">
      <!--SIDE PANEL-->
      <div class="column is-one-quarter">
          <!--  
              <p class="panel-heading has-background-white">
                Forums
              </p>
              
              <a class="panel-block">
                <span class="panel-icon has-background-white">
                  <i class="fas fa-book" aria-hidden="true"></i>
                </span>
                SPORTS
              </a>
              <a class="panel-block">
                <span class="panel-icon">
                  <i class="fas fa-book" aria-hidden="true"></i>
                </span>
                PHILOSOPHY
              </a>
              <a class="panel-block">
                <span class="panel-icon">
                  <i class="fas fa-book" aria-hidden="true"></i>
                </span>
                PROGRAMMING
              </a>
              <a class="panel-block">
                  <span class="panel-icon">
                    <i class="fas fa-book" aria-hidden="true"></i>
                  </span>
                  GAMING  
              </a>
              <a class="panel-block">
                  <span class="panel-icon">
                    <i class="fas fa-book" aria-hidden="true"></i>
                  </span>
                  POLITICS
              </a>
            </nav> -->
      </div>
      

      <!--FEED-->
      <div class="column is-half">
          <section>
              
            <app-show-post></app-show-post>
                
                      
          </section>
      </div>
    </div>
  </div>
</div>


